In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [6]:
text = ["John like horror movie","Ryan watches dramatic movies"]

count_vect = CountVectorizer()
tfidf_transformer = TfidfTransformer()
X_train_counts = count_vect.fit_transform(text)
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

pd.DataFrame(X_train_tfidf.todense(), columns = count_vect.get_feature_names())

   dramatic  horror  john  like  movie  movies  ryan  watches
0       0.0     0.5   0.5   0.5    0.5     0.0   0.0      0.0
1       0.5     0.0   0.0   0.0    0.0     0.5   0.5      0.5

In [8]:
new_comment = ["ron don't like dramatic movie"]

pd.DataFrame(tfidf_transformer.transform(count_vect.transform(new_comment)).todense(), columns = count_vect.get_feature_names())

   dramatic  horror  john     like    movie  movies  ryan  watches
0   0.57735     0.0   0.0  0.57735  0.57735     0.0   0.0      0.0

In [14]:
#WE CAN DEFINE AND FIX THE DIFFERENT POSSIBLE TOKENS WITH VOCABULARY PARAMETER.
vocabulary = ['dramatic', 'movie','horror']
vocabulary.append('Thriller')
count_vect = CountVectorizer(vocabulary = vocabulary)
pd.DataFrame(count_vect.fit_transform(text).todense(), columns = count_vect.get_feature_names())

   dramatic  movie  horror  Thriller
0         0      1       1         0
1         1      0       0         0

In [15]:
#Bi-grams
corpus = [
    'This is the first document.',
    'This is the second second document.',
    'And the third one.',
    'Is this the first document?',
]
bigram_vectorizer = CountVectorizer(ngram_range=(1, 2),
                                    token_pattern=r'\b\w+\b', min_df=1)

In [19]:
X_2 = bigram_vectorizer.fit_transform(corpus).toarray()
X_2
pd.DataFrame(X_2, columns = bigram_vectorizer.get_feature_names())

,and,and the,document,first,first document,is,is the,is this,one,second,...,second second,the,the first,the second,the third,third,third one,this,this is,this the
0,0,0,1,1,1,1,1,0,0,0,...,0,1,1,0,0,0,0,1,1,0
1,0,0,1,0,0,1,1,0,0,2,...,1,1,0,1,0,0,0,1,1,0
2,1,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,1,1,0,0,0
3,0,0,1,1,1,1,0,1,0,0,...,0,1,1,0,0,0,0,1,0,1

In [21]:
feature_index = bigram_vectorizer.vocabulary_.get('is this')
print(feature_index)
X_2[:, feature_index]

7

array([0, 0, 0, 1])

In [22]:
bigram_vectorizer.transform(['Is this real life? first']).toarray()

array([[0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])